body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  display:flex;
  margin:0;
}

.sidebar{
  width:200px;
  background:#1e293b;
  padding:20px;
}

.main{
  flex:1;
  padding:20px;
}

input,textarea{
  width:100%;
  padding:8px;
  margin:8px 0;
  background:#1e293b;
  color:white;
  border:1px solid #334155;
}

button{
  padding:8px;
  background:#38bdf8;
  border:none;
  margin:5px 0;
  cursor:pointer;
}

.tool-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
  gap:8px;
}

.tool-grid a{
  background:#1e293b;
  padding:8px;
  text-decoration:none;
  color:#22d3ee;
  display:block;
}
